version: '3.8'

services:
  master:
    image: dist-fs-master
    build:
      context: .
      dockerfile: Dockerfile-master
    ports:
      - "8081:8080"
    environment:
      - CHUNKS=http://chunk-1:8080/hb;http://chunk-2:8080/hb;http://chunk-3:8080/hb

  chunk-1:
    image: dist-fs-chunk
    build:
      context: .
      dockerfile: Dockerfile-chunk
    ports:
      - "8082:8080"

  chunk-2:
    image: dist-fs-chunk
    build:
      context: .
      dockerfile: Dockerfile-chunk
    ports:
      - "8083:8080"

  chunk-3:
    image: dist-fs-chunk
    build:
      context: .
      dockerfile: Dockerfile-chunk
    ports:
      - "8084:8080"
